*{
  margin: 0px;
  padding: 0px;
}
body {
  overflow: hidden;
  display: grid;
  align-items: center;
}

.popup {
  display: none;
  grid-template-rows: max-content;
  row-gap: 20px;
  z-index: 9;
  position: absolute;
  width: 30%;
  justify-self: center;
  background-color: rgb(218, 142, 0);
  border-radius: 5px;
  padding: 20px;
}

.add {
  display: grid;
}



.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}
.close{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  height: fit-content;
}

.content{
  display: grid;
  grid-template-rows: max-content;
  row-gap: 10px;
 
}
.link{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  
}

a{
  justify-self: center;
}